@model Classified.Domain.ViewModels.AccountViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset user's password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div class="form-panel">

    @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal style-form", role = "form" }))
    {

        <h4 class="mb">
            <i class="fa fa-angle-right">
                Reset Your Passwords
            </i>
        </h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="col-md-12">
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Email)
                <input type="submit" class="btn btn-theme" value="Reset" />
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


